<!DOCTYPE html>
<html>
    <head>
        <title>blogs</title>
        
        <!-- use Semantic UI -->
        <link rel="stylesheet" type="text/css" href="/semantic.min.css">
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
        <script src="/semantic.min.js"></script>
        
        <link rel="stylesheet" href="/app.css">
    </head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="comment outline icon"></i>Blog site</div>
            <a class="item" href="/">home</a>
            <a class="item" href="/blogs/new">new post</a>
        </div>
    </div>