<!--login form-->
<h1>log in to access whatever this site is about</h1>
<!-- just go right back to this page using a post method -->
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>login</button>
</form>